*{
    background-color: rgb(6, 6, 49);
}

.main-container{
    display: grid;
    place-items: center;
    margin-top: 150px;
}

h1{
    color: rgba(255, 255, 255, 0.583);
}

img{
    width: 250px;
}


.btn{
    display: grid;
    margin-top: 30px;
    width: 160px;
    height: 40px;
    place-items: center;
    background-color: rgb(235, 170, 7);
    font-size: 20px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.519);
    border-radius: 6px;
}